doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Trauxit
  style.
    .home {
    border: 1px solid #eee;
    border-radius: 12px;
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, .10);
    width: 30%;
    margin: auto !important;
    }
    .logo__body {
    display: flex;
    align-items: center;
    }
    .logo__body h1 {
    font-size: 20px;
    }
    .logo {
    width: 60px;
    padding: 20px;
    padding-right: 5px;
    }
    .email__body {
    margin: auto;
    text-align: center;
    }
    .email__para {
    font-size: 20px;
    color: #FF8201;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 0;
    }
    .email__title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
    }
    .otp__title {
    font-size: 30px;
    font-weight: bold;
    }
    .msg {
    width: 500px;
    }
    .msg__para {
    font-size: 15px;
    text-align: center !important;
    margin: auto !important;
    font-weight: 500;
    color: #777;
    width: 450px;
    }
    .msg__btn {
    text-transform: uppercase;
    font-size: 15px;
    background-color: #FF8201;
    padding: 15px 60px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-top: 30px;
    color: #fff;
    font-weight: 500;
    border: 1px solid #FF8201;
    letter-spacing: 3px;
    margin-bottom: 50px;
    }
    .otp {
    margin-bottom: 50px;
    }
    .otp__input {
    width: 380px;
    text-align: left;
    display: inline-block;
    }
    .otp__input input {
    padding: 0;
    width: 380px;
    font-size: 27px;
    font-weight: 600;
    color: #3e3e3e;
    background-color: transparent;
    border: 0;
    margin-left: 12px;
    letter-spacing: 48px;
    font-family: sans-serif !important;
    }
    .otp__input input:focus {
    box-shadow: none;
    outline: none;
    }
    .otp__input svg {
    position: relative;
    display: block;
    width: 350px;
    height: 2px;
    }
    @media (min-width:0) and (max-width:360px) {
    .home {
    width: 100%;
    }
    .msg,
    .msg__para,
    .ai__para,
    hr {
    width: 100%;
    }
    .msg__para {
    padding: 0 10px;
    }
    .msg__btn {
    padding: 15px 40px;
    }
    .otp__input {
    margin-left: 10px;
    }
    .otp__input svg {
    width: 320px;
    }
    .otp__input input {
    margin-left: 12px;
    letter-spacing: 40px;
    }
    }
    @media (min-width:370px) and (max-width:380px) {
    .home {
    width: 100%;
    }
    .msg,
    .msg__para,
    .ai__para,
    hr {
    width: 100%;
    }
    .msg__para {
    padding: 0 10px;
    }
    .msg__btn {
    padding: 15px 40px;
    }
    .otp__input {
    margin-left: 5px;
    }
    }
    @media (min-width:390px) and (max-width:400px) {
    .home {
    width: 100%;
    }
    .msg,
    .msg__para,
    .ai__para,
    hr {
    width: 100%;
    }
    .msg__para {
    padding: 0 10px;
    }
    .msg__btn {
    padding: 15px 40px;
    }
    .otp__input {
    margin-left: 10px;
    }
    }
    @media (min-width:400px) and (max-width:600px) {
    .home {
    width: 100%;
    }
    .msg,
    .msg__para,
    .ai__para,
    hr {
    width: 100%;
    }
    .msg__para {
    padding: 0 10px;
    }
    .msg__btn {
    padding: 15px 40px;
    }
    .otp__input {
    margin-left: 20px;
    }
    }
    @media (min-width:600px) and (max-width:900px) {
    .home {
    width: 75%;
    }
    .email__btn {
    margin-left: -20px !important;
    }
    }
    @media (min-width:900px) and (max-width:1200px) {
    .home {
    width: 55%;
    }
    .email__btn {
    margin-left: -10px !important;
    }
    }
section.container.pt-5.pb-5
  .home
    .email__msg
      .logo__body
        img.logo(alt=' ' src='img/Logo. 1.png')
        h1 TRAUXIT
      .email__body
        p.email__para Hello, #{userName}
        h1.email__title Nice to meet you.!
        img.msg(alt='' src='img/msg.jpeg')
        h1.otp__title Your Password Reset Code
        .otp
          .otp__input
            input(type='text' maxlength='6' pattern='[0-9]*' autocomplete='off' placeholder='000000' readonly='' value= `${randomNum}`)
            svg(viewbox='0 0 370 1' xmlns='http://www.w3.org/2000/svg')
              line(x1='0' y1='0' x2='370' y2='0' stroke='#3e3e3e' stroke-width='2' stroke-dasharray='44,22')
